
body{
    background-color: rgb(199, 220, 242);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(1, 1, 1);
}


.logo{
    width:60px;
}

h1{
    margin: 10px;
}

.container{
    display: flex;
}

.menu{
    display: flex;
}

li{
    list-style-type: none;
    Padding: 20px;
    font-size: 14px;
    font-weight: bold;
}
li:hover{
    cursor:pointer;
    color: rgb(18, 243, 33);
}

h4{
    color: red;
}

td{
    
    margin: 10px;
    padding: 5px;
    font-size: 12px;
}
tr:hover{
    background-color: rgb(196, 206, 240);
    color: rgb(0, 0, 0);
}
table{
    margin-left: 20px;
}

p{
    margin: 0;
    padding: 16px;
}
.footer{
    background-color: rgb(50, 104, 241);
    text-align: center;
    color: rgb(14, 4, 124);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    color: rgb(0, 0, 0);
    text-align: center;
}