
body{
    background-color: rgb(199, 220, 242);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(1, 1, 1);
}


.logo{
    width:60px;
}

h1{
    margin: 10px;
    color: white;
}

.container{
    display: flex;
    background-color: rgb(23, 23, 126);
}

.menu{
    display: flex;
}

li{
    list-style-type: none;
    Padding: 20px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(23, 23, 126);
}
li:hover{
    cursor:pointer;
    color: rgb(255, 255, 255);
    background-color: blue;
    transition: 100ms
}

h4{
    color: red;
}

td{
    
    margin: 10px;
    padding: 5px;
    font-size: 14px;
}
tr:hover{
    background-color: rgb(196, 206, 240);
    color: rgb(0, 0, 0);
}

.newsticker{
    width: 40px;
}
table{
    margin-left: 20px;
}

p{
    margin: 0;
    padding: 5px;
}
.footer{
    background-color: rgb(50, 104, 241);
    text-align: center;
    color: rgb(14, 4, 124);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    color: rgb(0, 0, 0);
    text-align: center;
}

.footer-logo{
    width: 25px;
}
.footer-logo:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 8px;
}