
body{
    background-color: rgb(199, 220, 242);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(1, 1, 1);
}


.logo{
    width:60px;
}

.profileimage{
    width: 60px;
    margin-left: 40px;
    

}

h1{
    margin: 10px;
    color: white;
}

.container{
    display: flex;
    background-color: rgb(23, 23, 126);
}

.menu{
    display: flex;
}

li{
    list-style-type: none;
    Padding: 20px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(23, 23, 126);
}
li:hover{
    cursor:pointer;
    color: rgb(255, 255, 255);
    background-color: blue;
    transition: 100ms
}

h4{
    color: red;
}

td{
    
    margin: 10px;
    padding: 5px;
    font-size: 14px;
}
tr:hover{
    background-color: rgb(196, 206, 240);
    color: rgb(0, 0, 0);
}

.newsticker{
    width: 40px;
}
table{
    margin-left: 20px;
}

p{
    margin: 0;
    padding: 5px;
    font-size:13px;
}
.footer{
    background-color: rgb(50, 104, 241);
    text-align: center;
    color: rgb(14, 4, 124);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 10px;
}

.footer-logo{
    width: 25px;
    margin: 7px;
}
.footer-logo:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 8px;
}

.btn{
    width: 100px;
    padding: 5px 8px;
    font-size: 16px;
    color: aliceblue;
    gap:10px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}

.btn:hover{
    background: rgb(139, 237, 159);
    color: black;

}

.arrow{
    width: 10px;
}

.contact-input{
    width:290px;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 20px;
    margin: 5px;
    
}
.contact-input:focus{
    border:2px solid #1203e1;
}

.contact-input textarea{
    height: 90px;

}

.button-container{
    display: flex;
}

.main-text{
    margin-left: 30px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.hello{
    font-size: 10px;
}

.description{
    font-size: 10px;
}
.I{
    font-size: 40px;
    font-weight: bolder;
    
}

.name{
    color: rgb(199, 10, 85);
    font-weight: bolder;   
}

.main-image{
    width: 150px;
    border-radius: 100px;
    margin-top: 30px;
}

.collapsible {
    background-color: #205bdb;
    color: white;
    cursor: pointer;
    padding:10px;
    width: 150px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
    margin-left: 30px;
  }
  
  .active, .collapsible:hover {
    background-color: #13ca99;
    color: black;
  }
  
  .content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #7f1ad8;
    color: white;
    width: 200px;
    margin-left: 30px;
    border-radius: 80px;
    margin-top: 20px;
  }

  .get-text{
  
  }

  .getintouch-text{
    font-size: 2rem;
    color: navy;
    font-weight: bolder;
    margin-left: 30px;
  }